/* TYPOGRAPHY */
body                  {font-family: Helvetica, Arial, sans-serif}
blockquote            {font-family: Georgia, serif; font-style: italic}

body                  {font-size: 0.85em; line-height: 1.5em}
header                {font-size: 1.40em; line-height: 1.4em}
h1, nav               {font-size: 1.50em}
h2                    {font-size: 1.20em}
code                  {font-size: 1.15em; line-height: 1.2em}
li                    {font-size: 1.00em; line-height: 1.7em}
nav a                 {font-size: 0.70em}

h1                    {text-align: center}
nav.left              {text-align: left}
nav.next              {text-align: right}

/* COLORS */
body                  {background-color: #ffffff; color: #393939}
pre.request, .file    {background-color: #FAFAFB; color: #393939}
ul code, ol code      {background-color: #f9f9f9; color: #52595d}
code .string          {color: #3e7b0b}
code .number          {color: #133ed7}
code .symbol          {color: #d2382d}
code .constant        {color: #6b77f8}
code .success         {color: #009926}
code .prompt          {color: #999999}
code .comment         {color: #9999c9}
code .method          {color: #003326; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);}
h1                    {border-color: #cccccc; border-bottom-style: solid}
pre                   {border-color: #cacaca; border-style: solid}
ul code, ol code      {border-color: #cccccc; border-style: solid}
abbr                  {border-color: #cccccc; border-bottom-style: dotted}

/* SIZES */
header,
article, footer       {width: 720px}
header img            {width: 48px; height: 48px}
.anchor               {width: 16px; height: 16px}
nav                   {min-width: 100px}

/* LAYOUT */
nav.prev              {float: left}
nav.next, header img  {float: right}
header                {clear: both}
pre                   {overflow:auto}
.ribbon               {position: fixed; left: 0; top: 0}
pre, h2               {position: relative}
.file, .anchor        {position: absolute}
.file                 {right: 0; top: 0}

ul code, , ol code    {display: inline-block}
.anchor               {display: none}
h2:hover .anchor      {display: block}

body, header,
article,
footer                {margin-left: auto; margin-right: auto}
body                  {margin-top: 5px; padding: 0px}
header                {margin-top: 10px; margin-bottom: 40px}
header img            {margin-left: 24px}
.anchor               {padding-left: 8px; margin-left: -24px}
p                     {margin: 1em 0}
h1                    {margin: 2em 0 1em}
h1, nav               {padding: .5em 0}
h2                    {margin: 2.5em auto 1em}
li                    {margin-bottom: 0.5em}
pre, .file            {margin: 0px; padding: 10px}
ul code, ol code      {padding: 0px 3px}

h1, abbr              {border-bottom-width: 1px}
pre, ul code, ol code {border-width: 1px}
iframe, img           {border: 0px}

/* IMAGES */
.anchor               {background-image: url(anchor.png); background-repeat: no-repeat}

/* Browser-specific properties */
pre, code {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
pre, code {background-clip: padding-box; -moz-background-clip: padding; -webkit-background-clip: padding-box;}
.prompt {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}